In [ ]:
print('hello world')

hello world

In [ ]:
name = "홍길동" # 문자열은 큰따옴표로 사용할 수 있습니다.
name2 = '임꺽정' # 문자열은 작은따옴표로 사용할 수 있습니다.
height = 172.5 # 소수형은(실수형) 정수뒤에 소수점이 나옵니다.
age = 30 # 정수형은 정수뒤에 소수점이 없는 깔끔한 숫자입니다.
student = True # True = 1
teacher = False # False = 0

# 파이썬은 변수의 구분은 보통 콤마로 합니다.
print(name, name2, height, age, student, teacher)

홍길동 임꺽정 172.5 30 True False

In [ ]:
# 변수의 값이 바뀌면 동환 / 재훈 / 현아 / 현성
# 동환 -> 파이썬에 대해서 알려줘 -> 출력 -> 파이썬 ...
# 재훈 -> 파이썬에 대해서 알려줘 -> 출력 -> 대표적인 프로그래밍...

# chatgpt 똑같은 말을 적어도, 랜덤으로 값을 출력하기

age = 50
print(age)

50

In [ ]:
# f-string 파이썬 3.6이상부터 적용된 문법
# print(name, name2, height, age, student, teacher)
# f-string은
# 1) print()안에 맨 앞에 f를 붙인다.
# 2) 변수는 중괄호{}로 묶는다.
# 3) 그외에 일반 텍스트는 그냥 적는다. 따옴표 안에

print(f'안녕하세요 {name} 입니다. {height},{age}')

안녕하세요 홍길동 입니다. 172.5,50

In [ ]:
# 1) 변수
# 2) f-string print 문

name  = '최예나'
hobby = '영화감상'

print(f'안녕하세요! 저는 {name} 입니다. 취미는 {hobby}입니다.')

안녕하세요! 저는 최예나 입니다. 취미는 영화감상입니다.

In [8]:
# 2. input을 활용한 자기소개

name = input("이름은 무엇인가요? : ")

이름은 무엇인가요? : 최예나

In [10]:
height = int(input('키는 얼마나 되시나요?'))

키는 얼마나 되시나요?183

In [13]:
print(height)

183

In [ ]:
# 1) 서로 다른 자료형은 덧셈이 되지 않는다.
# 2) 문자형의 합은 그 문자가 서로 합쳐지는 효과를 발생한다.
# 3) 숫자형으로 변경해야만 우리가 아는 사칙연산을 할 수 있게 된다.

print(height + '1')

In [14]:
# 해당 변수의 특성을 확인할 수 있습니다.
# str = 문자열 / int = 정수형 / float = 소수형 / bool = 불린형
type(height)

int

In [15]:
# 실습 3. 2개의 값을 받는 계산기 만들기
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5

In [17]:
print(f"덧셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a + b}입니다.")
print(f"뺄셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a - b}입니다.")
print(f"곱셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a * b}입니다.")
print(f"나눗셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a / b}입니다.")
# 소수점에 대한 부분을 다루기 위해서 :(콜론) :.2f -> 소수점 2자리까지 계산
print(f"나눗셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a / b:.2f}입니다.")
# 3.4059304932
# 3.40

덧셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 8입니다.
뺄셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = -2입니다.
곱셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 15입니다.
나눗셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 0.6입니다.
나눗셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 0.60입니다.

In [21]:
# 예제3
title = "python"
score = 95.678

print(f"{'과목':<8} | {'점수':>8}")
print("-" * 20)
print(f"{title:<8} | {score:>8.2f}")

과목       |       점수
--------------------
python   |    95.68

In [ ]:
if 조건식1:
  print("조건식 1이 참이면 print문을 수행해라")
elif 조건식2:
  print2("조건식 1이 참이 아닌 상태에서 조건식 2가 참이면 print2문을 수행해라")
else:
  print3('조건식 1도아니고 2도 아닌상태에서 나머지는 모두 print3을 수행하라')

In [23]:
# 조건문 1 -  성적관련 조건문
# 조건 - 90점 이상 - A / 80점 ~ 90 미만 - B / 70 ~ 80점 - C / 그 외는 - D

score = 85

# if 변수명 (연산자 + 조건):
    # 들여쓰기는 스페이스바 4번입니다. 4칸


# 1번째 if와 else만 있는 조건문
if score >= 90:
  print("A학점 입니다.")
elif score >= 80: #(연속되는 숫자일때) 위에서 적었던 조건은 자동으로 적용!
  print("B학점 입니다.")
elif score >= 70:
  print("C학점 입니다.")
else:
  print("D학점 입니다.")

B학점 입니다.

In [ ]:
# 조건문은 조건에 맞으면 들여쓰기 부분이 실행된다.
score = 92

In [ ]:
# 작은따옴표로 시작되면 작은따옴표로 끝나야 되고
# 큰따옴표로 시작되면 큰따옴표로 끝나야 됩니다.

In [ ]:
# 조건이 늘어나면 elif만 추가하면 된다.
if score >= 90:
    print("A학점 입니다.")
elif score >= 80: # (연속되는 숫자일때) 위에서 적었던 조건은 자동으로 적용!
    print('B학점 입니다.')
elif score >= 70:
    print("C학점 입니다.")
else:
    print("D학점 입니다.")

In [ ]:
# 문자열 조건문

name = '김진환'
print(name)

In [ ]:
# 문자열은 숫자처럼 크다, 작다를 구분할 수 없기 때문에 같다, 또는 같지 않다로 조건을 걸고 비교를 한다.

In [ ]:
# 문자열의 주의점 - 어떻게 해야 조건 안에 내가 조건을 걸고싶은 텍스트만 출력되게 할 수 있는가?
if name == '김진환':
    print('반갑습니다. 김진환님')

In [1]:
# 실습 - and or의 차이점 - 둘다 충족할때의 and - True

age = 25
country = 'korea'

# and -> 두가지 조건 모두 참일때 -> 참이다.
if (age >= 20) and (country == 'korea'):
    print('성인 한국인 입니다.')
else:
    print('조건에 해당하지 않습니다.')

성인 한국인 입니다.

In [2]:
# 실습 - and or의 차이점 - 1개만 충족할때의 and - False

age = 15
country = 'korea'

# and -> 두가지 조건 모두 참일때 -> 참이다.
if (age >= 20) and (country == 'korea'):
    print('성인 한국인 입니다.')
else:
    print('조건에 해당하지 않습니다.')

조건에 해당하지 않습니다.

In [3]:
# 실습 - and or의 차이점 - 1개만 충족할때의 or - True

age = 15
country = 'korea'

# and -> 두가지 조건 모두 참일때 -> 참이다.
if (age >= 20) or (country == 'korea'):
    print('성인 한국인 입니다.')
else:
    print('조건에 해당하지 않습니다.')

성인 한국인 입니다.

In [ ]:

# 3교시

In [24]:
# 로그인 검사 로직
# 운영자 계정

user_id = 'admin'
user_pw = '1234'

id_input = input("아이디를 입력하세요: ")
pw_input = input("password를 입력하세요: ")

if id_input == user_id and pw_input == user_pw:
  print("로그인 완료")
else:
  print("로그인 실패, 아이디 또는 패스워드를 확인하세요.")

아이디를 입력하세요: admin
password를 입력하세요: 1234
로그인 완료

In [25]:
# 실습 5
role = input("당신의 역할을 입력하세요 (student/teacher/admin): ")

if role == "student":
    print("📚 학생 모드입니다. 과제를 제출할 수 있습니다.")
elif role == "teacher":
    print("🧑‍🏫 교사 모드입니다. 학생 점수를 관리할 수 있습니다.")
elif role == "admin":
    print("💻 관리자 모드입니다. 시스템 설정을 변경할 수 있습니다.")
else:
    print("❌ 알 수 없는 역할입니다. 다시 입력해주세요.")

당신의 역할을 입력하세요 (student/teacher/admin): student
📚 학생 모드입니다. 과제를 제출할 수 있습니다.

In [26]:
# 실습 6

role = input("역할을 입력하세요 (student/teacher/admin): ")
command = input("명령을 입력하세요 (조회/추가/삭제): ")

if role == "student" and command == "조회":
  print("📖 성적을 조회합니다.")
elif role == "teacher" and command == "추가":
  print("🧾 새로운 과제를 추가합니다.")
elif role == "admin" and command == "삭제":
  print("⚙️ 시스템 로그를 삭제합니다.")
else:
  print("⛔ 권한이 없거나 잘못된 명령입니다.")

역할을 입력하세요 (student/teacher/admin): admin
명령을 입력하세요 (조회/추가/삭제): 삭제
⚙️ 시스템 로그를 삭제합니다.

In [27]:
# 반복문 기초

# 1. 파이썬은 숫자의 시작이 0부터 시작한다
# 2. 파이썬에서는
# 3. i는 이름을 원하는대로 변경할 수 있다.
# 4. for in은 고정

for i in range(5):
  print(i)

0
1
2
3
4

In [45]:
# 반복문 기초
# range(start, stop, step)
# start는 0부터 시작한다.(start에 아무것도 적지 않았을 경우), stop에서 -1까지 출력이 된다.
# step은 얼마나 띄워서 출력할지를 정하는 것이다.

for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [31]:
# 시퀀스 자료형

for i in 'python':
  print(i)

p
y
t
h
o
n

In [32]:
for i in ['사과', '바나나', '포도']:
  print(i)

사과
바나나
포도

In [47]:
# 누적합계 구하기 실습

total = 0
for i in range(1,11): # range(1, 11) -> 1,2,3,4,5,6,7,8,9,10
  total = total + i # total += i 동일하다
print(total)

55

In [1]:
count = 0

while count < 5:
  print(f"{count}번째 반복")
  count += 1

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복

In [2]:
# break 는 반복문을 자동으로 중지 시키는 구문 보통 if 조건문과 같이 사용된다.
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [3]:
# continue는 특정 조건을 건너뛰는
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9